html, body { width: 100%; height: 100%; }

#wrapper { width: 100%; height: 100%; opacity: 0; }
#info { display: block; position: absolute; top: 20px; left: 20px; width: 33px; height: 34px; }
#wrapper .booty { display: block; max-width: 530px; width: 80%; margin: 0 auto; margin-bottom: 20px; }
#wrapper iframe { display: block; max-width: 640px; width: 80%; margin: 0 auto; }

#social { position: absolute; top: 20px; left: 20px; width: auto; }
#social .social-button { float: left; width: 90px; height: 30px; }